
<section class=" grid md:grid-cols-12 bg-secondary pt-20 pb-40 z-0 relative">
    <div class="container md:col-start-3 md:col-span-8">
        <div class="text-center py-5 leading-loose w-1/2 mx-auto">
            <h1 class="text-5xl font-bold">{{ title }}</h1>
            {{ subheading }}
        </div>
    </div>
</section>

<div class="container mx-auto -mt-20 z-10 relative bg-white px-20 rounded-lg shadow-lg">
    <div class="my-1 px-1 w-full lg:my-4 lg:px-4">
        <main class="outer-grid  ">
            {{ page_builder scope="block" }}
                {{ partial src="page_builder/{type}" }}
            {{ /page_builder }}
        </main>

    </div>
</div>
