<header class="bg-white shadow font-secondary">
    <div class="max-w-7xl mx-auto container border-b border-grey-lighter">
        <div class="relative flex justify-between">
            <div class="relative z-10 flex items-center lg:hidden">
                <!-- Mobile menu button -->
                <span class="sr-only">Open menu</span>
                <svg id="menu-bar" onclick="openNav()" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
                <svg id="cross" onclick="closeNav()" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </div>
        </div>
        <nav class="hidden lg:py-0 lg:flex " aria-label="Global">
            <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
            <a href="#" class="inline-flex items-center font-semibold text-md py-1.5 border-r border-grey-lighter">
                <img class="block h-auto w-32 m-3 mr-6 ml-0" src="https://ss.eposnow.com/_resources/themes/default/dist/images/logo.svg" alt="Epos Now">
            </a>
            {{ nav:main }}
                {{ if children }}
                <div class="nav-item dropdown inline-block relative items-start text-left border-r border-grey-lighter pl-4 pr-6 group" @click.away="open = false" x-data="{ open: false }">
                    <button  class="text-secondary group-hover:text-brand font-semibold al text-md pt-5 inline-flex " @click="open = !open">
                        <span class="mr-1 align-left font-secondary">{{ title }}</span>
                        <svg class="fill-current h-5 w-5 absolute right-0 mr-2 transform group-hover:rotate-180 rounded" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path> </svg>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-3 origin-top-right ">
                        <div class="px-2 py-2 bg-white rounded-sm dark-mode:bg-gray-800 border-t-0" x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95">
                            <a class="block px-4 py-2 mt-2 text-md font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #1</a>
                            <a class="block px-4 py-2 mt-2 text-md font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #2</a>
                            <a class="block px-4 py-2 mt-2 text-md font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #3</a>
                        </div>
                    </div>
                </div>
                {{else}}
                <a href="#" class="text-secondary font-secondary group-hover:text-brand font-semibold text-md pt-5 inline-flex pl-12 ">
                    {{ title }}
                </a>

                {{ endif }}
            {{ /nav:main }}
            <a href="#" class="text-brand font-secondary font-semibold text-md pt-5 inline-flex pl-20 pr-4 font-bold">
                0808 291 5483
            </a>
            <a href="#" class="text-secondary font-secondary group-hover:text-brand font-semibold text-md pt-5 inline-flex px-6 border-l border-grey-lighter">
                Store
            </a>
            <a href="#" class="book-demo-btn font-secondary bg-brand font-semibold text-md pt-5 inline-flex px-6 border-l border-grey-lighter">
                Book a Demo
            </a>
        </nav>
    </div>
    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <nav id="mySidebar" class="hidden lg:hidden bg-gray-200" aria-label="Global">
        <div class="pt-2 pb-3 px-2 space-y-1">
            <a href="#" class="text-gray-900 block rounded-md py-2 px-3 text-md font-semibold text-md">
                <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-600-mark-gray-800-text.svg" alt="Workflow">
            </a>
            <div class="nav-item dropdown inline-block relative border-r-2 border-l-2">
                <button class="text-secondary hover:text-brand font-semibold text-md py-4 px-4 rounded inline-flex items-center">
                    <span class="mr-1">Retail</span>
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                </button>
                <ul class="dropdown-menu absolute hidden text-secondary hover:text-brand pt-1">
                    <li class=""><a class="rounded-t bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">One</a></li>
                    <li class=""><a class="bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Two</a></li>
                    <li class=""><a class="rounded-b bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Three</a></li>
                    <li class=""><a class="rounded-b bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">More</a></li>
                </ul>
            </div>
            <div class="nav-item dropdown inline-block relative border-r-2">
                <button class="text-secondary hover:text-brand font-semibold text-md py-4 px-4 rounded inline-flex items-center">
                    <span class="mr-1">Hospitality</span>
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                </button>
                <ul class="dropdown-menu absolute hidden text-secondary hover:text-brand pt-1">
                    <li class=""><a class="rounded-t bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">One</a></li>
                    <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap w-full" href="#">Two</a></li>
                    <li class=""><a class="rounded-b bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Three</a></li>
                    <li class=""><a class="rounded-b bg-white hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">More</a></li>
                </ul>
            </div>
            <a href="#" class="text-gray-900 block rounded-md py-2 px-3 text-md font-semibold text-md">
                Team
            </a>
            <a href="#" class="text-gray-900 block rounded-md py-2 px-3 text-md font-semibold text-md">
                Projects
            </a>
            <a href="#" class="text-gray-900 block rounded-md py-2 px-3 text-md font-semibold text-md">
                Calendar
            </a>
            <a href="#" class="text-gray-900 block rounded-md py-2 px-2 text-md font-semibold text-md">
                00 300 000000
            </a>
            <a href="#" class="text-gray-900 block rounded-md py-2 px-2 text-md font-semibold text-md">
                Store
            </a>
            <a href="#" class="book-demo-btn bg-brand text-white font-semibold text-md">
                Book a Demo
            </a>
        </div>
    </nav>
</header>
