/* This is all you. */
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}

.hero-image{
    height:25em;
}
.covidbar{
    letter-spacing: .05em;
}


#mySidebar {
    display: none;
}
.nav-item,.dropdown-menu li {
    width: 170px;
    text-align: center;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
button {
    outline: none !important;
}
.book-demo-btn {
    padding:15px !important;
}
